# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# build output
public/**
temp/**
**/dist/**
.DS_Store
.astro/
.cache/
todo.md

.DS_Store

# tailwind files
_main-compiled.*
