{{- /* Resolve relative page/resource destinations (e.g. sibling.md) to permalinks. */ -}}
{{- $u := urls.Parse .Destination -}}
{{- $href := .Destination -}}
{{- if and $u.Path (not $u.IsAbs) -}}
	{{- $path := $u.Path -}}
	{{- $fragment := cond (gt (len $u.Fragment) 0) (printf "#%s" $u.Fragment) "" -}}
	{{- $page := .PageInner.GetPage $path -}}
	{{- if and (not $page) (strings.HasSuffix $path ".md") -}}
		{{- $page = .PageInner.GetPage (strings.TrimSuffix ".md" $path) -}}
	{{- end -}}
	{{- if $page -}}
		{{- $href = printf "%s%s" $page.RelPermalink $fragment -}}
	{{- else -}}
		{{- with .PageInner.Resources.GetMatch $path -}}
			{{- $href = printf "%s%s" .RelPermalink $fragment -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
<a
	href="{{ $href | safeURL }}"
	{{- with .Title }} title="{{ . }}"{{ end -}}
	{{- if $u.IsAbs }} rel="external noopener" target="_blank"{{ end -}}
>{{- .Text | safeHTML -}}</a>
