<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>

		<meta charset="utf-8" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="msvalidate.01" content="E4150B8FFD6A7CD45A31148F4BED24CD" />

		<link rel="apple-touch-icon" href="{% picture direct favicon.png %}" />
		<link rel="shortcut icon" href="{% picture direct favicon.png %}" />
		<link rel="stylesheet" href="/assets/style.css?{{ site.data['hash']}}" type="text/css" media="all" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@FRYTG" />
		<meta name="twitter:creator" content="@FRYTG" />
		<meta name="twitter:creator:id" content="46650115" />
	</head>
	<body id="{{ page.bodyId }}">
		<header id="mastheader">
			<a href="/" class="logo noSlide">
				{% if page.logoColor == 'black' %} {% include logo/black.svg %} {% elsif page.logoColor
				== 'yellow' %} {% include logo/yellow.svg %} {% else %} {% include logo/white.svg %} {%
				endif %}
			</a>

			<ul>
				<li><a href="/">About me</a></li>
				<li><a href="/social.html">Social</a></li>
			</ul>
		</header>

		{{ content }}

		<footer>
			{% if page.enableSocials %}
			<div class="social">
				<a
					href="https://det.social/@FRYTG"
					target="_blank"
					rel="me noopener noreferrer"
					class="noSlide"
					alt="Link to Mastodon on det.social"
				>
					{% include social/sm/mas.svg %}
				</a>

				<a
					href="https://github.com/frytg"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Link to GitHub @FRYTG"
				>
					{% include social/sm/gh.svg %}
				</a>

				<a
					href="https://www.strava.com/athletes/7693180"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Link to Strava"
				>
					{% include social/sm/strv.svg %}
				</a>

				<a
					href="mailto:contact@frytg.com"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Email Link"
				>
					{% include social/sm/em.svg %}
				</a>

				<a
					href="https://t.me/FRYTG"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Link to Telegram"
				>
					{% include social/sm/tg.svg %}
				</a>

				<a
					href="https://twitter.com/FRYTG"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Link to Twitter"
				>
					{% include social/sm/tw.svg %}
				</a>

				<a
					href="https://instagram.com/danslashmedia"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide d-none"
					alt="Link to Instagram "
				>
					{% include social/sm/ig.svg %}
				</a>

				<a
					href="https://www.youtube.com/channel/UCyM3eiaRkKyXlvv9bRadwqQ?sub_confirmation=1"
					target="_blank"
					rel="noopener noreferrer"
					class="noSlide"
					alt="Link to YouTube"
				>
					{% include social/sm/yt.svg %}
				</a>
			</div>
			{% endif %}

			<p>&copy; Daniel Freytag</p>

			<p>🍪 No Cookies were stored during this visit.</p>

			<p><a href="/legal.html" title="Impressum">Legal Notices & Data Privacy</a></p>

			<div class="beoriginal">
				{% if page.logoColor == 'black' %} {% include beoriginal/black.svg %} {% elsif
				page.logoColor == 'yellow' %} {% include beoriginal/yellow.svg %} {% else %} {% include
				beoriginal/white.svg %} {% endif %}
			</div>
		</footer>

		<link
			rel="stylesheet"
			href="/assets/bootstrap-grid.min.css?{{ site.data['hash']}}"
			type="text/css"
			media="all"
		/>
	</body>
</html>
