---
layout: default
title: 'Daniel Freytag'
permalink: /
bodyId: 'darkGreen'
logoColor: 'white'
enableSocials: true
---

<article class="container">
	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-1.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<p><strong>Hey, it's me, Daniel Freytag. ✌️</strong></p>
			<p>
				Digital Storyteller and Problem-solver on the internet and in real life.<br />
				Also a fan of Traveling, Cycling, Photography, Design and 🇪🇺 European at heart.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-3">
			<p>
				I am working for 🇩🇪 German public broadcaster
				<a href="https://swr.de" target="_blank">SWR</a>, where I make cool projects around
				voice assistants, radio, apps and the cloud happen.
			</p>
			<p>
				Additionally I'm also working on a number of other projects. Most recently I've been
				helping to transform real-life events into hybrid or digital experiences.
			</p>
			<p>
				To find out more about my current projects have a look at my
				<a href="/social">Social Media pages</a>.
			</p>
		</div>
	</div>

	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-2.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-1">
			<p><b>Digital storytelling is everywhere and more important than ever.</b></p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<p>Live broadcasts aren't about the view counts but the interactions and experiences.</p>
			<p>Photos aren't about the camera they're taken with but about the story they tell.</p>
			<p>
				Social Media posts aren't about the hashtags they contain but about the message they
				spread.
			</p>
			<p>
				Brands shouldn't be about short term KPI's but about long term partnerships and
				retention.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-9 offset-md-1">
			<p>
				<b
					>That's what I stand for. A digital - yet personal and unique way of
					storytelling across many platforms.</b
				>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-9 offset-md-2">
			<p>
				Grown up with the internet, trained in television, working in radio and producing for
				live events, there's no denying that working across platforms is important to me.
			</p>
			<p>
				The main fields I'm passionate about involve web development, film production, graphic
				design, live productions as well as Social Media and Community Management. As you can
				see, that's a lot of digital stuff, hence the name <b>FRYTG digital</b>.
			</p>
		</div>
	</div>

	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-3.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p>
				<strong>Making the internet smarter, one development at a time.</strong><br />
				Whether it be a custom Amazon Alexa integration for Smart Homes, scalable websites,
				Kubernetes, Google Cloud integrations or more. I'm ready for the challenge.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<ul>
				<li>
					<strong>Websites</strong> - Even though third-party platforms are growing, a
					strong brand website is still as important as ever! Control your own
					environment, tell your story and display your offerings. Check out
					<a href="https://corona.karlsruhe.de/" target="_blank" rel="noopener noreferrer"
						>corona.karlsruhe.de</a
					>
					or <a href="https://karlsruhe-kocht.de/" target="_blank">Karlsruhe kocht</a> or
					<a href="https://www.intergeo.de/" target="_blank" rel="noopener noreferrer"
						>Intergeo</a
					>.
				</li>
				<li>
					<strong>Digital Platforms</strong> - Reacting to the changing environment for
					live events due to the global pandemic, I built a digital and hybrid event
					platform for Karlsruhe-based startup
					<a
						href="https://www.liveline-connect.com"
						target="_blank"
						rel="noopener noreferrer"
						>Liveline Connect</a
					>.<br />
					With a growing number of events on the platform, a key milestone was the digital
					realization of the industry-leading global exhibition and conference Intergeo
					with its digital version
					<a
						href="https://www.intergeo.de/en/news/digital-interaktiv-international-intergeo-digital-mit-erfolgreicher-premiere"
						target="_blank"
						rel="noopener noreferrer"
						>INTERGEO.digital</a
					>.
				</li>
				<li class="small">
					<strong>SWR3 Elchbot</strong> - Originally developed for the Facebook Messenger,
					this bot now also runs on the popular SWR3.de website and answers questions
					around radio, traffic, jokes and more.<br /><a
						href="http://m.me/elchbot"
						target="_blank"
						>Talk to SWR3 Elchbot</a
					>
				</li>
				<li class="small">
					<strong>Google Assistant</strong> - Voice assistants are growing and constantly
					getting better. Pioneering several use-cases in Germany, Daniel has meanwhile
					reached the highest level in the Google Assistant Developer Community Programm
					by reaching the "<i>Taking your Action global</i>" milestone.
				</li>
				<li class="small">
					<strong>Amazon Alexa</strong> - Let Alexa turn off your lights or launch a
					scene? By creating a custom interface between an existing home automation system
					and the Alexa platform, just that is now possible.
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p>
				Whether the website or service will have thousands or millions of visitors, the
				cloud-native developments are ready for the challenge. With an intelligent scaling and
				monitoring solutions these projects are reaching peak visitors without any problems, no
				downtime and amazing performance.
			</p>
		</div>
	</div>

	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-4.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<p>
				<strong
					>In a world with temporarily fewer in-person events, livestreams and video
					conference have become the go-to method for communicating with partners, clients
					and audiences.</strong
				>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p>
				Long before it has gotten popular and more in-demand we've been producing livestreams
				for events of all sizes. Whether those were small internal events or large events with
				national or international interest. Along with great partners I'm ready for all kinds of
				projects.
			</p>
			<p>Feel free to reach out for previous projects, questions and ideas.</p>
		</div>
	</div>

	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-5.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-7 offset-md-2">
			<p>
				<strong>No event or project can be completed without great partners.</strong>
			</p>
			<p>
				A few partners from our network of great partners, which make every event, production or web project
				possible are listed below, with more in close reach.
			</p>
		</div>
	</div>

	<div class="row partner">
		<div class="col-6 col-md-3 offset-md-1">
			<p>
				<a
					href="https://www.knappe1a.de"
					class="noSlide"
					target="_blank"
					rel="noopener noreferrer"
					>{% include partner/knappe1a.svg %}</a
				>
			</p>
		</div>
		<div class="col-6 col-md-4">
			<p>
				<a
					href="https://www.liveline-connect.com"
					class="noSlide"
					target="_blank"
					rel="noopener noreferrer"
					>{% include partner/liveline.svg %}</a
				>
			</p>
		</div>
	</div>

	<div class="row"><div class="col-12">{% picture banner about/home-2020-q4-6.jpg %}</div></div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-3">
			<p>
				When I'm not working, you can probably catch me on a bike riding through nature or
				exploring Europe. Lots of routes and rides are
				<a href="https://www.strava.com/athletes/7693180" target="_blank">on Strava</a>.
			</p>
		</div>
	</div>

	<div class="row d-none">
		<div class="col-12 col-md-8 offset-md-1">
			<p>
				Occasionally I also take photos at concerts, events or places I visit. A lot of them are
				<a href="/feed">in my Feed on this website</a>.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<p>
				If you want to get in touch or have questions, use any of the buttons below. The best
				option for a quick answer is probably
				<a href="https://twitter.com/FRYTG" target="_blank">Twitter</a> or
				<a href="https://t.me/FRYTG" target="_blank">Telegram</a>.
			</p>
		</div>
	</div>
</article>
