---
layout: default
title: 'Daniel Freytag - Social Media'
permalink: /social
bodyId: 'yellow'
logoColor: 'black'
enableSocials: false
---

<article class="container">
	<div class="row socialGrid">
		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://det.social/@FRYTG"
				target="_blank"
				rel="me noopener noreferrer"
				class="noSlide"
				alt="Link to Mastodon on det.social"
			>
				{% include social/lg/mas.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://github.com/frytg/"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to GitHub @FRYTG"
			>
				{% include social/lg/gh.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://www.strava.com/athletes/7693180"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to Strava"
			>
				{% include social/lg/strv.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="mailto:contact@frytg.com"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Email Link"
			>
				{% include social/lg/em.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://t.me/FRYTG"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to Telegram"
			>
				{% include social/lg/tg.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://twitter.com/FRYTG"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to Twitter"
			>
				{% include social/lg/tw.svg %}
			</a>
		</div>

		

		<div class="col-6 col-sm-4 col-md-3 mb-4 d-none">
			<a
				href="https://www.instagram.com/danslashmedia/"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to Instagram "
			>
				{% include social/lg/ig.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://www.youtube.com/channel/UCyM3eiaRkKyXlvv9bRadwqQ?sub_confirmation=1"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
				alt="Link to YouTube"
			>
				{% include social/lg/yt.svg %}
			</a>
		</div>
	</div>
</article>
