---
layout: default
title: 'Daniel Freytag - Social Media'
permalink: /social
bodyId: 'yellow'
logoColor: 'black'
enableSocials: false
---

<article class="container">
	<div class="row socialGrid">
		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a href="https://twitter.com/FRYTG" target="_blank" rel="noopener noreferrer" class="noSlide">
				{% include social/lg/tw.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a href="https://t.me/FRYTG" target="_blank" rel="noopener noreferrer" class="noSlide">
				{% include social/lg/tg.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a href="https://github.com/frytg/" target="_blank" rel="noopener noreferrer" class="noSlide">
				{% include social/lg/gh.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a href="mailto:contact@frytg.com" target="_blank" rel="noopener noreferrer" class="noSlide">
				{% include social/lg/em.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://www.instagram.com/danslashmedia/"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
			>
				{% include social/lg/ig.svg %}
			</a>
		</div>

		<div class="col-6 col-sm-4 col-md-3 mb-4">
			<a
				href="https://www.youtube.com/channel/UCyM3eiaRkKyXlvv9bRadwqQ?sub_confirmation=1"
				target="_blank"
				rel="noopener noreferrer"
				class="noSlide"
			>
				{% include social/lg/yt.svg %}
			</a>
		</div>
	</div>
</article>
