{{ define "main" }} {{ $titlePrefix := ""}} {{ if eq .Kind "term" }} {{ $titlePrefix = "Tag: " }} {{ end }}

<div class="container container-custom">
	<h1>{{ $titlePrefix }}{{ .Title }}</h1>

	{{/* Add RSS if available */}} {{ with .OutputFormats.Get "rss" -}}
	<p class="">
		Subscribe via
		<a class="" href="{{ .RelPermalink }}">RSS feed</a>
	</p>
	{{ end }} 
  
  {{ if .Site.Taxonomies.categories }}
    <p>
      Categories:
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/">{{ $name }}</a>
      {{ end }}
    </p>
  {{ end }}
  
  {{ .Content }} {{ range .Pages }} {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00"
	}} {{ $dateHuman := .Date | time.Format "2006-01-02" }}

	<h2 class="text-2xl sm:text-4xl sm:leading-normal">
		<a class="no-underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
	</h2>
	<p class="text-sm italic">
		<time datetime="{{ $dateMachine }}">Posted {{ $dateHuman }}</time>
	</p>
	<p>{{ .Summary }}</p>
	{{ end }}
</div>
{{ end }}
