{{ define "main" }} {{ $titlePrefix := ""}} {{ if eq .Kind "term" }} {{ $titlePrefix = "Tag: " }} {{ end }}

<div class="container container-custom">
	<h1>{{ $titlePrefix }}{{ .Title }}</h1>

	{{ with .OutputFormats.Get "rss" -}}
	<p class="text-meta">
		Subscribe via
		<a href="{{ .RelPermalink }}">RSS feed</a>.
	</p>
	{{ end }}

  {{ if .Site.Taxonomies.categories }}
    <p class="text-meta">
      Categories:
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/">{{ $name }}</a>
      {{ end }}
    </p>
  {{ end }}

  {{ .Content }}

  {{ range .Pages }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format "2006-01-02" }}

	<article class="blog-list-item">
		<h2 class="!text-2xl sm:!text-3xl !mt-0 !mb-2">
			<a class="no-underline hover:text-yellow transition-colors" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</h2>
		<p class="text-meta my-0">
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
		</p>
		<p class="mt-3 mb-0 text-white/75">{{ .Summary }}</p>
	</article>
  {{ end }}
</div>
{{ end }}
