{{ define "main" }}
<div class="container container-custom{{ if .Params.highlight_bold }} container-bold{{ end }}">
	<h1 itemprop="headline">{{ .Title }}</h1>

	{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format
	"2006-01-02" }}
	<p class="text-sm italic">
		<time datetime="{{ $dateMachine }}">Posted {{ $dateHuman }}</time>
	</p>
	{{ .Content }}

	<hr />

	{{ partial "blog-follow.html" . }} {{ partial "blog-license.html" . }} {{ partial "blog-tags.html" (dict
	"taxonomy" "tags" "page" .) }}
</div>
{{ end }}
