@import 'tailwindcss';
@source '../../content/**/*.{html,js,md}';
@source '../../layouts/**/*.{html,js}';

@theme {
	/* colors */
	--color-full-white: hsl(0, 0%, 100%);
	--color-white: hsl(53.33, 19.15%, 90.78%);
	--color-yellow: oklch(96.5% 0.24275517479740738 110.19968594371046);
	--color-orange: hsl(28.85, 85.92%, 58.24%);
	--color-gray: hsl(90, 27.5%, 84.31%);
	--color-greeny: hsl(101.25, 12.31%, 25.49%);
	--color-mid-dark-greeny: hsl(103.64, 12.64%, 17.06%);
	--color-dark-greeny: hsl(102.86, 13.73%, 10%);

	/* font families */
	--font-sans: 'InterVariable', sans-serif;

	/* font sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
	--text-7xl: 4.5rem;
	--text-8xl: 6rem;
	--text-9xl: 8rem;

	/* line heights */
	--text-xs--line-height: 1rem;
	--text-sm--line-height: 1.25rem;
	--text-base--line-height: 1.5rem;
	--text-lg--line-height: 2.2rem;
	--text-xl--line-height: 2.5rem;
	--text-2xl--line-height: 2.8rem;
	--text-3xl--line-height: 3.2rem;
	--text-4xl--line-height: 3.5rem;
	--text-5xl--line-height: 4.2rem;
	--text-6xl--line-height: 4.5rem;
	--text-7xl--line-height: 5.2rem;
	--text-8xl--line-height: 6.5rem;
	--text-9xl--line-height: 8.5rem;
}

@layer base {
	html {
		@apply bg-mid-dark-greeny;
		@apply text-white font-sans;
		@apply selection:bg-yellow selection:text-greeny;
	}

	h1 {
		@apply text-5xl sm:text-7xl;
		@apply font-black;
		@apply mt-8 mb-1;
	}
	h2 {
		@apply text-4xl sm:text-6xl;
		@apply font-bold;
		@apply mt-6 mb-1;
	}
	h3 {
		@apply text-3xl sm:text-5xl;
		@apply font-bold;
		@apply mt-4 mb-1;
	}
	h4 {
		@apply text-3xl;
		@apply font-bold;
	}
	h5 {
		@apply text-2xl;
		@apply font-bold;
	}
	h6 {
		@apply text-xl;
		@apply font-bold;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.title-style {
		@apply text-balance;
		@apply w-full mx-0;
		@apply lg:w-3/4 lg:mx-auto;

		a {
			@apply transition-all;
			@apply hover:text-yellow;
		}
	}

	p,
	ul {
		@apply my-4;
		@apply w-full mx-0;
		@apply lg:w-2/3 lg:mx-auto;
	}

	p,
	ul,
	li {
		@apply text-lg;
		@apply font-normal;

		/* link in text */
		a {
			/* no images or code children */
			&:not(:has(img)):not(:has(code)) {
				@apply underline;
				@apply px-2 py-1 rounded-sm;
				@apply bg-yellow/10;
				@apply transition-all;
				@apply hover:bg-yellow hover:text-greeny;

				/* remove background from embedded strong and footer */
				strong {
					@apply !bg-transparent !p-0;
				}

				/* remove background from footer links */
				footer & {
					@apply !bg-transparent !p-0;
					@apply hover:text-yellow;
				}
			}
		}

		/* bold text in paragraphs */
		strong {
			@apply font-bold bg-dark-greeny/40 px-2 py-1 rounded-sm;
		}
	}

	ul {
		@apply px-7;
		@apply list-disc;

		li {
			@apply my-2;

			ul {
				@apply mx-2 my-2;
			}
		}
	}

	hr {
		@apply opacity-80;
		@apply border-0 border-t;
		@apply my-14;
		@apply w-1/2 mx-auto;
	}

	blockquote {
		@apply my-4;
		@apply w-full mx-0;
		@apply lg:w-2/3 lg:mx-auto;
		@apply border-l-2 border-yellow pl-4;
		@apply opacity-90;
		@apply italic;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul {
			@apply mx-2;
			@apply w-full;
		}
	}

	pre {
		@apply p-2 rounded-md;
	}

	code:not(pre code) {
		@apply font-mono rounded-sm bg-dark-greeny  px-2 py-1;

		a & {
			@apply transition-all;
			@apply underline;
			@apply hover:bg-yellow hover:text-greeny;
		}
	}

	.container-special {
		@apply mx-auto my-6;
		@apply px-4;
		@apply lg:px-0;
	}

	.clickable-button {
		/* padding */
		@apply px-3 py-2 mx-0;
		@apply sm:px-4 sm:py-2 sm:mx-1;

		/* text size */
		@apply text-base sm:text-lg;

		/* button style */
		@apply cursor-pointer;
		@apply rounded-sm;
		@apply no-underline;
		@apply font-black;
		@apply transition-all;

		/* color */
		@apply bg-transparent hover:bg-yellow hover:text-greeny;
	}

	.clickable-button-inactive {
		@apply cursor-default;
		@apply hover:bg-transparent hover:text-white;
	}

	.clickable-button-active,
	.clickable-button-ancestor {
		@apply bg-yellow text-greeny;
	}

	.anchor-link {
		&::after {
			content: '#';
			cursor: pointer;
		}
	}
}

@tailwind components;
@tailwind utilities;
