<head>
<title>{{ printf "%s | %s" .Title site.Title }}</title>

{{ partialCached "html/head/css.html" . }}
{{ partialCached "html/head/fonts.html" . }}
{{ partialCached "html/head/js.html" . }}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="author" content="Daniel Freytag"/>
<meta name="msvalidate.01" content="C1816188C38BDCCB8E9E9CEEF79E5110" />
<meta name="fediverse:creator" content="@FRYTG@beoriginal.social">

{{/* Add RSS if available */}}
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ with .Params.atUri }}
<link rel="site.standard.document" href="{{ . | safeURL }}" />
{{ end }}

{{/* Robots NoIndex if needed (if set or if page is term/tag) */}}
{{- $isTagsPage := eq .Kind "term" }}
{{- $isNoIndexSet := isset .Params "noindex"}}
{{ if or $isNoIndexSet $isTagsPage }}<meta name="robots" content="noindex">{{ end }}

{{/* Favicon */}}
<link rel="apple-touch-icon" href="/favicon.png" />
<link rel="shortcut icon" href="/favicon.png" />

{{/* Theme Color */}}
<meta name="theme-color" content="#293126" />
<meta name="msapplication-TileColor" content="#293126" />

{{/* Links */}}
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{/* Language */}}
{{- with or .Params.locale site.Language.Locale }}
<meta property="og:locale" content="{{ replace . `-` `_` }}">
{{- end }}

{{- with .WordCount }}
<meta itemprop="wordCount" content="{{ . }}">
{{- end }}

{{/* Keywords */}}
{{- $keywords := slice }}
{{- range .GetTerms "tags" }}
  {{- $keywords = $keywords | append .Title }}
{{- else }}
  {{- range $taxonomy, $_ := site.Taxonomies }}
    {{- range $.GetTerms $taxonomy }}
      {{- $keywords = $keywords | append .Title }}
    {{- end }}
  {{- end }}
{{- end }}
{{- with $keywords }}
<meta itemprop="keywords" content="{{ delimit . `,` }}">
{{- end -}}

{{/* Teaser Image */}}
{{- $ogImage := "" -}}
{{- if isset .Params "image" -}}
	{{- $ogImage = resources.Get .Params.image -}}
{{- else -}}
	{{- $ogImage = resources.Get site.Params.og_image -}}
{{- end -}}
{{- $ogImageProcessed := $ogImage.Process "1200x630 jpg fill Center Lanczos" -}}
<meta property="og:image" content="{{ $ogImageProcessed.Permalink }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image" content="{{ $ogImageProcessed.Permalink }}" />

{{/* Date Published and Modified (blog posts only) */}}
{{- $datePublished := "" }}
{{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
{{- if and .IsPage (eq .Section "blog") }}
{{- with .PublishDate }}
{{ $datePublished = .Format $ISO8601  }}
{{ $datePublishedHtml := $datePublished | printf "content=%q" }}
<meta property="article:published_time" {{ $datePublishedHtml | safeHTMLAttr }} />
<meta property="og:article:published_time" {{ $datePublishedHtml | safeHTMLAttr }} />
<meta itemprop="datePublished" {{ $datePublishedHtml | safeHTMLAttr }}>
{{- end }}

{{- $dateModified := "" }}
{{- with .Lastmod }}
{{ $dateModified = .Format $ISO8601  }}
<meta itemprop="dateModified" {{ $dateModified | printf "content=%q" | safeHTMLAttr }}>
{{- end }}
{{- end }}

{{/* Description (not summary!) */}}
{{ if isset .Params "seo_description" }}
<meta name="description" content="{{ htmlEscape .Params.seo_description }}" />
<meta name="twitter:description" content="{{ htmlEscape .Params.seo_description }}" />
<meta property="og:description" content="{{ htmlEscape .Params.seo_description }}" />
{{ else }}
<meta name="description" content="{{ htmlEscape .Summary }}" />
<meta name="twitter:description" content="{{ htmlEscape .Summary }}" />
<meta property="og:description" content="{{ htmlEscape .Summary }}" />
{{ end }}

{{/* Twitter */}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}" />
<meta name="twitter:site" content="@FRYTG" />
<meta name="twitter:creator" content="@FRYTG" />
<meta name="twitter:creator:id" content="46650115" />

{{/* OG meta */}}
<meta property="og:type" content="{{ if and .IsPage (eq .Section "blog") }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ partial "html/head/schema.html" . }}

{{ if not hugo.IsServer }}
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="BCUBYJDW" defer></script>
<!-- / Fathom -->
{{ end }}

</head>
